{% layout 'theme' %}
<div class="customers-page page-width section-padding">
  <h1>{{ 'customer.addresses.title' | t }}</h1>

  <a href="{{ routes.account_url }}" class="customer-form__link">&larr; {{ 'customer.account.title' | t }}</a>

  <h2>{{ 'customer.addresses.add_new' | t }}</h2>
  {%- form 'customer_address', customer.new_address, class: 'customer-form' -%}
    {%- render 'address-fields', form: form -%}
    <div class="customer-form__field">
      <input type="checkbox" name="address[default]" id="AddressDefault" value="1">
      <label for="AddressDefault">{{ 'customer.addresses.set_default' | t }}</label>
    </div>
    <button type="submit" class="btn">{{ 'customer.addresses.add' | t }}</button>
  {%- endform -%}

  {%- if customer.addresses_count > 0 -%}
    <h2>{{ 'customer.addresses.title' | t }}</h2>
    {%- for address in customer.addresses -%}
      <div class="address-card">
        {{ address | format_address }}
        {%- if address == customer.default_address -%}
          <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
        {%- endif -%}
        <div class="address-card__actions">
          <a href="#" data-address-id="{{ address.id }}" class="btn btn--outline btn--small">{{ 'customer.addresses.edit' | t }}</a>
          {%- form 'customer_address', address -%}
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn--outline btn--small">{{ 'customer.addresses.delete' | t }}</button>
          {%- endform -%}
        </div>
      </div>
    {%- endfor -%}
  {%- endif -%}
</div>
